<!DOCTYPE HTML>
<html>
<head>
    <title>Sonoma State Women's Ultimate</title>

    <script type="text/javascript" src="/jquery-1.11.2.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../style.css">

    <% if(typeof js_include !== 'undefined') {
        for(var i = 0; i < js_include.length; i++) { %>
            <script type="text/javascript" src="/<%= js_include[i] %>"></script>
    <%  }
       }
    %>

</head>
 <header>
        Sonoma State Women's Ultimate
 </header>

<body>