<nav>
        <a href="/">Home</a><br>
        <a href="/player/all">Roster</a><br>
        <a href="/tournament/all">Schedule</a><br>
        <a href="/boss/all">Current Bosses</a><br>
        <a href="/about">About</a>
</nav>